<form
  [formGroup]="formInputLink"
  (ngSubmit)="onSubmitUrlForm()"
  class="formInputUrl"
>
  <input formControlName="inputLink" />
  <div class="divErrors">
    @if (inputLink.touched) {
    <label *ngIf="formInputLink.errors?.['UrlNotValid']" class="inputError">
      Please input a valid URL
    </label>
    <label *ngIf="inputLink?.hasError('required')" class="inputError">
      This field is required
    </label>
    }
  </div>
  <button type="submit">Submit</button>
</form>
@if(shortened!==null){
<div class="resultShort">
  <span>{{ shortened }}</span>
</div>

}
