<app-page-layout>
  @if(messageError!==null){
  <app-popup message="{{ messageError }}"></app-popup>
  }

  <div class="shortenedMain">
    <span class="title">List of Links</span>
    @if(loading){
    <app-spinner></app-spinner>
    }
    <ul class="encurtatorList" *ngFor="let encurtator of encurtators">
      <li class="encurtator" (click)="onClickCopy(encurtator.shortUrl)">
        <span class="linkShort"
          >localhost:4200/r/{{ encurtator.shortUrl }}</span
        >
        <span class="longLink">{{ encurtator.encryptedUrl }}</span>
        <button (click)="onModal(encurtator)">delete</button>
      </li>
    </ul>
  </div>
  @if(modal!==null){
  <app-modal
    [item]="modal"
    (confirmation)="onConfirmationDelete($event)"
  ></app-modal>
  }
</app-page-layout>
