<app-page-layout>
  <main class="main">
    <form
      [formGroup]="formRegister"
      (ngSubmit)="onSubmitLogin()"
      class="formRegister"
    >
      <label>E-mail</label>
      <input formControlName="email" />
      @if (email.touched) {
      <div class="divErrors">
        <label *ngIf="email?.hasError('required')">
          this field is required</label
        >
        <label *ngIf="email?.hasError('email')">
          please put a valid email</label
        >
      </div>
      }
      <label>Password</label>
      <input formControlName="password" />
      @if (password.touched) {
      <div class="divErrors">
        <label *ngIf="password?.hasError('required')">
          this field is required
        </label>
      </div>
      }
      <label> Confirm Password</label>
      <div class="divErrors">
        <input formControlName="confirmPassword" />
        @if (confirmPassword.touched) {
        <label *ngIf="confirmPassword?.hasError('required')">
          this field is required
        </label>
        <label *ngIf="formRegister.errors?.['PasswordNoMatch']">
          Password does'nt match.
        </label>
        }
      </div>
      <button type="submit">Submit</button>
    </form>
    @if(loading){
    <div class="spinnerContainer">
      <app-spinner></app-spinner>
    </div>
    }
    <div class="message">
      <span>Already have an account? </span>
      <button class="buttonLink" (click)="onLogin()">Log in</button>
    </div>
  </main>
</app-page-layout>
