<app-page-layout>
  <main class="main">
    <form
      [formGroup]="formLogin"
      (ngSubmit)="onSubmitLogin()"
      class="formLogin"
    >
      <label>E-mail</label>
      <input formControlName="email" />
      @if (email.touched) {
      <label *ngIf="email?.hasError('required')"> this field is required</label>
      <label *ngIf="email?.hasError('email')"> please put a valid email</label>
      }
      <label>Password</label>

      <input formControlName="password" />
      @if (password.touched) {
      <label *ngIf="password?.hasError('required')">
        this field is required </label
      >}

      <button>enviar</button>
    </form>

    <div class="message">
      <span>You don't have an account? </span>
      <button>Click here</button>
      <span> and create one!</span>
    </div>
  </main>
</app-page-layout>
