<app-page-layout>
  <main class="main">
    <form
      [formGroup]="formLogin"
      (ngSubmit)="onSubmitLogin()"
      class="formLogin"
    >
      <label>E-mail</label>
      <input formControlName="email" />
      <div class="divErrors">
        @if (email.touched) {
        <label class="errorMessage" *ngIf="email?.hasError('required')">
          this field is required</label
        >
        <label class="errorMessage" *ngIf="email?.hasError('email')">
          please put a valid email</label
        >
        }
      </div>
      <label>Password</label>

      <input formControlName="password" type="password" />
      @if (password.touched) {
      <div class="divErrors">
        <label *ngIf="password?.hasError('required')">
          this field is required
        </label>
      </div>
      }

      <button>Submit</button>
    </form>
    @if(loading){
    <div class="spinnerContainer">
      <app-spinner></app-spinner>
    </div>
    }
    <div class="message">
      <span>You don't have an account? </span>
      <button (click)="onRegister()">Click here</button>
      <span> and create one!</span>
    </div>
  </main>
</app-page-layout>
