.footer {
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c1c1c;
  color: #f8f8f8;
  font-family: "Reddit Sans Condensed", sans-serif;
}

.footer a {
  color: #f8f8f8;
  outline: none;
  text-decoration: none;
}
