.header {
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navButtons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.navButtons button {
  margin: 0 0.5em;
  border: none;
  cursor: pointer;
}

.navLogin {
  position: absolute;
  right: 1%;
  margin: 0 1em 0 0;
}

.loggedDiv {
  display: flex;
  flex-direction: column;
}
