.header {
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navButtons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.navButtons button {
  margin: 0 0.5em;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  width: 10em;
  padding: 0.4em;
  background-color: #02afbb;
  border-radius: 8px;
  transition: all 0.8s ease-out;
}
.navButtons button:hover {
  background-color: #017a83;
}
.navLogin {
  position: absolute;
  right: 1%;
  margin: 0 1em 0 0;
  border: none;
}

.loggedDiv {
  display: flex;
  flex-direction: column;
}
